.wrapper{
    background: rgba(0,0,0,0.2);
    width: 100vw;
    height:100vh;
    position: relative;
}

.loader{
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}